.summary {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.summary > div {
  flex: 1;
  background-color: rgba(219, 60, 255, 0.4);
  margin-bottom: 1vmin;
  border-radius: 1vmin;
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary div:last-child {
  margin-bottom: 0;
  flex: 4;
}
