.todos {
  margin-top: 4vmin;
}

.todo {
  display: flex;
  margin-bottom: 1.25vmin;
  padding: 0.5vmin 0.5vmin;
  background: rgba(219, 60, 255, 0.4);
  border-radius: 0.5vmin;
}

.todo input {
  margin-right: 2vmin;
  width: 2.5vmin;
}

.todo div {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25vmin;
  padding: 0.5vmin;
  text-transform: capitalize;
}

.todo button {
  all: unset;
  margin-left: 1vmin;
  font-size: 2vmin;
  width: 3vmin;
  color: rgba(255, 255, 255, 0.75);
  border: 3px solid rgba(255, 255, 255, 0.75);
  border-radius: 0.5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25 ease-in-out;
  cursor: pointer;
}

.todo button:hover {
  background-color: rgba(255, 255, 255, 0.75);
  transition: all 0.25 ease-in-out;
  color: gray;
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5vmin;
}

.form input[type='text'] {
  flex: 1;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 0.25vmin;
  padding: 1vmin 0.5vmin;
  border: none;
  outline: none;
  margin-right: 1vmin;
}

.form input[type='submit'] {
  all: unset;
  color: black;
  border: 2px solid black;
  border-radius: 0.5vmin;
  padding: 0.5vmin 1vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.25s ease-in-out;
}

.form input[type='submit']:hover {
  color: white;
  background-color: black;
  transition: all 0.25s ease-in-out;
}
