.container {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: 3vmin;
}

.header button {
  all: unset;
  font-size: 1.5vmin;
  border: 1px solid black;
  border-radius: 0.5vmin;
  padding: 0.75vmin 2vmin;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}

.header button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 0 1vmin black;
  transition: all 0.25s ease-in-out;
}
